* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px solid red;
}

:root {
  --dark-color: #1E2629;
  --light-color: #FEFAEF;
  --medium-color: #92A4AB;
}

h1 {
  font-family: "Josefin Sans";
  font-size: 3rem;
  font-weight: 900;
}

h2 {
  font-family: "Bebas Neue";
  font-size: 2rem;
  font-weight: 600;
}

p {
  font-family: "Alumni Sans Pinstripe";
  font-size: 1.5rem;
  font-weight: 600;
}

h1,
h2,
p {
  color: var(--dark-color);
}

body {
  background-color: var(--light-color);
}

#logo-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 75vh;
}

#logo-flexbox img {
  max-height: 25vh;
  margin-bottom: 8vh;
}

#fe-logo-text h1 {
  font-size: 4vh;
  letter-spacing: 2rem;
  margin-bottom: 2vh;
}

#d-logo-text h1 {
  font-size: 2.5vh;
  letter-spacing: 1.5rem;
}

#logo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
}

#logo-icon i {
  cursor: pointer;
  color: var(--dark-color);
}







/*

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

.sec-1 .animate {
  transform: translateX(-300%);
}

.sec-2 .animate {
  transform: translateX(300%);
}

.sec-3 .animate {
  transform: scale(.5);
}

.sec-1.show-animate .animate {
  transform: translateX(0);
}

.sec-2.show-animate .animate {
  transform: translateX(0);
}

.sec-3.show-animate .animate {
  transform: translateY(0);
}

section .animate {
  transition: 1s;
}

*/